<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Commit Generator</title>
</head>
<body>
    <h1>Welcome, {{ name }}!</h1>
    <img src="{{ avatar_url }}" alt="Profile Image" width="100">

    <p>GitHub Username: {{ login }}</p>

    <h2>Select a Repository to Generate Commits</h2>
    <form action="{{ url_for('generate_commits') }}" method="POST">
        <label for="repo_name">Repository Name:</label>
        <select name="repo_name" required>
            {% for repo in repos_data %}
                <option value="{{ repo.name }}">{{ repo.name }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="total_days">Total Days:</label>
        <input type="number" name="total_days" value="19" required>
        <br><br>

        <label for="commit_frequency">Commits per Day:</label>
        <input type="number" name="commit_frequency" value="22" required>
        <br><br>

        <button type="submit">Generate Commits</button>
    </form>

    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
